<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Booking Appoinment App</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
        <h2>Booking Appointment App</h2>
    </header>

    <section class="container">
      <form id="my-form">
        <h1 id="top">Add User</h1>
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name">
        </div>
        <div>
          <label for="phone">Phone No:</label>
          <input type="text" id="phone" name="phone">
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email">
        </div>
        <input id="btn" type="submit" value="Submit">
      </form>

      <ul id="appoinments">

        <!-- <li> prabht kumar phone email 
          <div>
            <button class="btn">Delete</button>
            <button class="btn">Edit</button>
          </div>
        </li> -->
      </ul>
    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>